@import '~antd/dist/antd.css';

.App {
  min-height: 100vh;
  background: #eee;
}

.issues {
  padding: 20px;
  margin: 0 auto;
  max-width: 960px;
}

.issues-hot-names {
  margin: 10px 0;
}

.issues-list {
  margin-bottom: 10px;
}

.issue-item {
  background: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

.hot-tag {
  margin-bottom: 5px;
}

.issue-item-footer {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}

